

header{
    width: 100%;
    border: solid #5B6DCD 1px;
    padding: 5px;
    height: 50px;
}


section, footer{
    width: 100%;
    border: solid 1px red;
    height: 400px;


}

ul{
    list-style-type:none;
    
}
/* Removes blue hyperlink and underline on hyperlink */
a:link{
    color:black;
    text-decoration: none;
}

#left-upper{
    width: 45%;
    border: solid 1px red;
    height: 400px;
}



#welcome{
    width: 100%;
    border: solid #db6211 1px;
    padding: 5px;
    height: 50px;
    display:inline;

}

#date{
    float:right;
}

li, div > h2{
    display:inline;

}


#x, #y, #z ,#zz{
    border: solid #5B6DCD 1px;
    width: 10%;
    height: 100px;
    float:right;


}



/* Removes blue hyperlink and underline on hyperlink */
a:link{
    color:black;
    text-decoration: none;
}
 /*Footer and alignment */
 footer{
    height: 250px;
    border: solid 1px black;
    clear:both;
}

.a, .b{
    float: left;
    border: solid 1px black;
    width: 25%;
    height:200px;
    padding:10px;
    margin: 0 26px;
    font-size: 16px;
}

.c{

    float:left;
    font-size: 16px;
    border: solid 1px black;
    padding:10px;
    height:200px;
    width: 30%;
}